{% extends "layout" %}

{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-evenly">
{% for wallpaper in wallpapers %}
        <div class="col-12 col-md-4 col-xxl-3 p-2 text-center">
            <a href="/w/{{ wallpaper.id }}">
                <img src="/wallpapers/thumbnail/{{ wallpaper.id }}.png" width="300" height="200" class="img-thumbnail">
            </a>
            <br>
            Original size : {{ wallpaper.width }} x {{ wallpaper.height }}
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}